In [227]:
pip install pandas

Requirement already satisfied: pandas in ./anaconda3/lib/python3.11/site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in ./anaconda3/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in ./anaconda3/lib/python3.11/site-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in ./anaconda3/lib/python3.11/site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in ./anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [228]:
pip install xlrd

Requirement already satisfied: xlrd in ./anaconda3/lib/python3.11/site-packages (2.0.1)
Note: you may need to restart the kernel to use updated packages.

In [229]:
import pandas as pd
df = pd.read_excel('/Users/anastasiiaholovachova/Downloads/data.xls')
df

      sepal_length  sepal_width  petal_length  petal_width          species
0             6.40         2.70          5.30         1.90   Iris-virginica
1             7.38         4.04          5.15         2.37  Iris-versicolor
2             5.00         3.40          1.60         0.40      Iris-setosa
3             6.12         3.19          5.90         2.01   Iris-virginica
4             6.78         3.47          6.13         2.29   Iris-virginica
...            ...          ...           ...          ...              ...
2419          6.11         5.08          3.15         2.22      Iris-setosa
2420          7.17         6.07          4.30         1.78      Iris-setosa
2421          6.48         4.98          4.12         3.03      Iris-setosa
2422          6.73         4.71          3.67         2.90      Iris-setosa
2423          0.00         0.00          0.00         0.00   Iris-virginica

[2424 rows x 5 columns]

In [230]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count   2415.000000  2415.000000   2415.000000  2415.000000
mean       6.470257     3.963540      4.616911     2.189752
std        2.140522     1.022686      1.987028     1.046936
min      -10.000000     0.000000      0.000000     0.000000
25%        5.950000     3.450000      2.780000     1.460000
50%        6.700000     4.000000      5.090000     2.240000
75%        7.490000     4.580000      6.150000     2.940000
max       10.490000     7.470000      9.040000     5.440000

In [231]:
df.describe(include='all')

        sepal_length  sepal_width  petal_length  petal_width         species
count    2415.000000  2415.000000   2415.000000  2415.000000            2424
unique           NaN          NaN           NaN          NaN               4
top              NaN          NaN           NaN          NaN  Iris-virginica
freq             NaN          NaN           NaN          NaN             800
mean        6.470257     3.963540      4.616911     2.189752             NaN
std         2.140522     1.022686      1.987028     1.046936             NaN
min       -10.000000     0.000000      0.000000     0.000000             NaN
25%         5.950000     3.450000      2.780000     1.460000             NaN
50%         6.700000     4.000000      5.090000     2.240000             NaN
75%         7.490000     4.580000      6.150000     2.940000             NaN
max        10.490000     7.470000      9.040000     5.440000             NaN

In [232]:
import numpy as np

In [233]:
pip install statistics

Requirement already satisfied: statistics in ./anaconda3/lib/python3.11/site-packages (1.0.3.5)
Requirement already satisfied: docutils>=0.3 in ./anaconda3/lib/python3.11/site-packages (from statistics) (0.18.1)
Note: you may need to restart the kernel to use updated packages.

In [234]:
df.loc[1001:2000]=df.loc[1001:2000].ffill()

In [235]:
df.loc[2001:]=df.loc[2001:].bfill()

In [236]:
df.loc[0:1000]=df.loc[0:1000].fillna(df.mean(axis=0))

/tmp/ipykernel_43182/2899537586.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.loc[0:1000]=df.loc[0:1000].fillna(df.mean(axis=0))

In [237]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count   2424.000000  2424.000000   2424.000000  2424.000000
mean       6.471013     3.963791      4.616933     2.189719
std        2.137122     1.020885      1.985475     1.045403
min      -10.000000     0.000000      0.000000     0.000000
25%        5.950000     3.450000      2.780000     1.460000
50%        6.700000     4.000000      5.090000     2.235000
75%        7.490000     4.580000      6.150000     2.940000
max       10.490000     7.470000      9.040000     5.440000

In [270]:
df_copy=df.replace(0.00,np.nan)

In [271]:
df_copy.describe()

       sepal_length  sepal_width  petal_length  petal_width
count   2359.000000  2359.000000   2359.000000  2359.000000
mean       6.649315     4.073009      4.744148     2.250055
std        1.872725     0.791137      1.856608     0.993568
min      -10.000000     2.000000      1.000000     0.100000
25%        6.010000     3.510000      2.920000     1.515000
50%        6.730000     4.030000      5.120000     2.270000
75%        7.520000     4.595000      6.180000     2.960000
max       10.490000     7.470000      9.040000     5.440000

In [244]:
df_copy=df_copy.drop(df_copy[df_copy["sepal_length"]<0].index)
df_copy

      sepal_length  sepal_width  petal_length  petal_width          species
0             6.40         2.70          5.30         1.90   Iris-virginica
1             7.38         4.04          5.15         2.37  Iris-versicolor
2             5.00         3.40          1.60         0.40      Iris-setosa
3             6.12         3.19          5.90         2.01   Iris-virginica
4             6.78         3.47          6.13         2.29   Iris-virginica
...            ...          ...           ...          ...              ...
2419          6.11         5.08          3.15         2.22      Iris-setosa
2420          7.17         6.07          4.30         1.78      Iris-setosa
2421          6.48         4.98          4.12         3.03      Iris-setosa
2422          6.73         4.71          3.67         2.90      Iris-setosa
2423           NaN          NaN           NaN          NaN   Iris-virginica

[2401 rows x 5 columns]

In [245]:
df_copy.describe()

       sepal_length  sepal_width  petal_length  petal_width
count   2336.000000  2336.000000   2336.000000  2336.000000
mean       6.801038     4.073664      4.748328     2.251660
std        1.041223     0.791763      1.859618     0.994564
min        4.300000     2.000000      1.000000     0.100000
25%        6.050000     3.507500      2.920000     1.520000
50%        6.750000     4.030000      5.125000     2.270000
75%        7.530000     4.600000      6.190000     2.960000
max       10.490000     7.470000      9.040000     5.440000

In [248]:
X = df.drop(labels = ['petal_width', 'species'], axis=1)
Y = df['petal_width']

In [249]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.33, random_state = 101)

In [250]:
from sklearn.linear_model import LinearRegression

linear_regression = LinearRegression()

In [251]:
linear_regression.fit(X_train, Y_train)

LinearRegression()

In [252]:
linear_regression.predict(X_test)
pred = linear_regression.predict(X_test)

In [253]:
pred

array([ 3.32097036,  2.06449373,  1.99530896,  2.20525206,  1.02205725,
        1.37060683,  2.95119523,  1.01726401,  2.79228827,  2.46804599,
        2.7407007 ,  3.30671747,  1.45011154,  1.16751009,  2.96997633,
        1.99385863,  2.90799839, -0.5188373 ,  2.49812619,  1.86407142,
        2.32267263,  1.70815103,  0.97410672,  1.95959945,  4.11717546,
        3.62143002,  3.19865681,  2.81246346,  2.35952413,  2.90320029,
        3.48927116,  1.42240423,  2.48369348,  1.19695574,  1.73469108,
        2.2740574 ,  2.5304726 ,  2.92482165,  3.88280233,  3.795983  ,
        1.85162752,  2.2095417 ,  3.44844775,  2.51024419,  2.23516979,
        1.61072001,  3.62394506,  0.49405683,  2.15406073,  2.46095902,
        2.90688428,  0.9552738 ,  2.65090327,  1.4376564 ,  1.68168036,
        0.82308799,  1.38659936,  3.02421454,  2.24301793,  3.19961567,
        2.70436469,  1.38105427,  0.74672489,  2.24729239,  2.04604188,
        2.5022756 ,  1.74817862,  2.04203561,  2.38353396,  2.91454931,
        3.02439496,  1.95439002,  1.92309355,  1.31665876,  2.40968102,
       -0.5188373 ,  2.97950968,  2.00590687,  0.78824188,  3.13492283,
        2.12338628,  2.7482349 ,  1.32063189,  2.61234214,  1.95241704,
        2.03793599,  1.86058021,  3.46102695,  1.28932554,  1.32364365,
        2.52691899,  2.55971275,  1.19462282,  1.52490626,  2.54406053,
        1.93093779,  1.22666452,  3.04152566,  1.5549471 ,  2.82103003,
        2.67932801,  2.32695116,  2.44603281,  2.27419095,  1.29961535,
        2.64042219,  1.9182651 ,  2.62059073,  2.57159286,  3.29255373,
        2.41123311,  0.93254606,  2.47201262,  1.94401816,  3.73882688,
        2.36546034,  2.99101125,  3.26586959,  1.7983476 ,  1.82321405,
        3.51037354,  2.91562053,  0.7907378 ,  3.06056199,  2.13411375,
        0.87484153,  2.15910014,  1.75713325,  3.03031813,  3.46323417,
        3.04214773,  1.74339761,  2.80586779,  2.63462542,  2.45154612,
        1.62219409,  2.23337898,  3.58827597,  1.24918169,  1.64477072,
        2.69298644,  1.61216224,  2.45550251,  1.47147685,  3.06037081,
        3.58849785,  3.46915257,  3.72913329,  2.73749099,  3.22121682,
        2.79372178,  2.28692058, -0.5188373 ,  2.04019763,  3.54523441,
        2.64572273,  2.58398474,  3.34904038,  2.62838649,  0.99903651,
        3.38056711,  3.58383158,  2.81267898,  3.15908924,  2.74345003,
        2.30181067,  3.07257657,  3.40474852,  2.06951748,  2.66312188,
        0.88425838,  2.24761648,  2.62123145,  1.63225275,  1.22549977,
        1.35251436,  3.34911601,  3.59665407,  3.23945641,  1.86582914,
        2.08438247,  2.72004506,  2.71059269,  2.54265464,  1.38463874,
        2.77410838,  2.97625317,  2.74927719, -0.5188373 ,  2.5284763 ,
        2.32000335,  2.84480197,  2.97821646,  0.96035167,  1.45972665,
        2.5028684 ,  2.09115181,  1.75039031,  1.94022829,  2.01458336,
        1.77328724,  2.51326932,  2.24797001,  1.97197225,  2.74368305,
        1.54531591,  1.33021083,  1.47486277,  2.67964056,  2.27084094,
        2.6198648 ,  2.99100397,  2.3257496 ,  1.67321791,  3.19995151,
        2.76359465,  4.25329649,  2.20943668,  2.12015872, -0.5188373 ,
        0.83154192,  3.72936619,  2.72637141,  3.59894468,  0.93058861,
        3.55751476,  0.64435836,  1.08106498,  0.7240772 ,  3.3425715 ,
        2.80539649,  0.90441059,  2.87152235,  1.14225083,  2.52522817,
        2.06514693,  1.618272  ,  3.52233261,  2.95378055,  2.10920044,
       -0.5188373 ,  1.58499479,  2.10704495,  2.84840792,  2.83590143,
        2.68247306,  2.19302876,  3.08445023,  2.19819394,  2.30139456,
        2.52735547,  2.40592499,  3.58232153,  1.59974326,  2.66136623,
        2.50144994,  0.97613832,  1.9128501 ,  2.13665   ,  0.58858415,
        2.73266311,  1.99517078,  1.51821853,  3.80128383,  1.66861039,
        0.94746178,  0.93698317,  1.64429915, -0.5188373 ,  1.57656368,
        0.68444918,  3.38963901,  1.83302403,  2.16481576,  1.06849086,
        1.88456364,  3.04461854,  3.08365197,  2.82270879,  2.86485921,
        1.92710276,  3.30607467,  2.98306052,  3.16317732,  1.90938626,
        2.58480112, -0.5188373 ,  2.31741177,  3.2791957 ,  1.97123974,
        2.5531565 ,  1.98367047,  1.14076143,  2.45566335,  2.2992096 ,
        2.18451811,  1.85271213,  2.30518589,  1.36759537,  1.6546593 ,
        0.8100699 ,  1.25543315,  3.25736312,  2.50890011,  2.51083869,
        3.44651151,  0.76605743,  1.4164608 ,  3.21140621,  2.35782198,
        1.08103688,  1.60555464,  1.31592884,  2.79949825,  2.80220014,
        2.37451864,  2.94476428,  1.67015187,  1.66990697,  1.33708814,
        1.88763827,  2.07963094,  2.63790562,  3.6256296 ,  0.89631312,
        2.78675866,  0.89337365,  0.84001621,  2.00633473,  2.45834056,
        2.00784762,  2.63774402,  1.19332794,  2.6187749 ,  2.4895114 ,
        1.23835466,  2.29647203,  2.93613948,  2.90510991,  3.37023462,
        3.02739484,  2.54882588,  2.95187449,  2.0907475 ,  2.79124676,
        0.71564249,  3.15718712,  1.29052818,  2.48981122,  3.12921114,
        3.06759302,  1.71595546,  3.21908978,  1.23615555,  2.58386693,
        1.914437  ,  1.64265044,  2.93909565,  2.32302481,  2.83001331,
        2.0778492 ,  3.40745444,  1.76690925,  2.05566344,  2.33960166,
        1.04514945,  1.65233727,  1.22022598,  3.5898651 ,  0.68409274,
        0.94897442,  0.97606001,  1.21162156,  2.30038861,  1.13934687,
        2.5634725 ,  3.7300902 ,  1.50622979,  3.87936845,  0.99394625,
        2.7700196 ,  2.34273378,  2.56012456,  2.72199224,  2.58280855,
        3.15001503,  1.99835962,  1.28961263,  2.94379449,  1.29118586,
        2.99160219,  1.27537536,  1.54694753,  3.40456714,  2.58480112,
        0.74993368,  2.95488998,  1.62079099,  2.23778036,  1.23459088,
        3.10645586,  1.83183876,  2.8607435 ,  1.63885535,  2.30910811,
        1.5195063 ,  1.61700045,  2.15324101,  1.30481294,  1.76739708,
        2.25403892,  2.69105696,  2.617358  ,  2.75768002,  0.81327956,
        1.59446215,  1.98006876,  1.30410445,  2.86747898,  2.25899433,
        2.40094976,  3.1844422 ,  2.47267297,  1.73709061,  2.471157  ,
        1.28805299,  2.46754824,  3.31977048,  1.84422336,  2.72577336,
        1.49981746,  2.13905517,  3.0958829 ,  1.48532096,  1.73768462,
        2.85421053,  1.83088454,  2.8642146 ,  2.3608514 ,  0.82470811,
        1.69765395,  1.41620441,  1.55416146,  2.70365169,  1.4061703 ,
        2.45174002,  0.66440334,  2.2142319 ,  3.76866201, -0.5188373 ,
        2.92556218,  2.81851043,  1.70684349,  1.33600222,  1.00161126,
        2.67936396,  1.95757501,  1.56267977,  2.26239817,  3.04730829,
        3.20028636,  3.05188017,  3.26804797,  2.42657673,  3.42952425,
        1.90104452,  1.02424075,  1.60325373,  2.52309632,  1.53604133,
        1.7810841 ,  1.4143231 ,  1.51055992,  1.23427473,  2.72350331,
        3.24767704,  2.90286323,  3.64977909,  2.37892726,  2.18727949,
        2.87176584,  2.90337404,  2.95884021,  1.74963317,  3.47991213,
        1.665173  ,  1.74190505,  1.91191069,  1.29529696,  2.2164706 ,
        2.0965865 ,  1.38767738,  3.1002122 ,  1.9223492 ,  3.42468383,
        1.89978801,  2.84146687,  2.55421796,  1.99885906,  1.89136983,
        0.90157944,  1.32430747,  1.8872899 ,  2.07593059,  2.00568525,
        3.63712027,  2.58997118,  3.12449673,  2.38214719,  0.74815107,
        2.34211704,  1.76055498,  2.508743  ,  1.02053247,  1.11218302,
        2.85205692,  3.01313393,  1.30298354, -0.5188373 ,  1.44297372,
       -0.5188373 ,  2.07927407,  1.84024198,  2.90224007,  2.59105193,
        3.24825172, -0.5188373 , -0.5188373 ,  2.05145211,  2.33876481,
        1.59136576,  2.42789195,  1.40104738,  3.26513165,  1.54664253,
        0.89221635,  2.01664236,  2.50308686,  2.79326227,  2.99548427,
        1.76044879,  2.52604876, -0.5188373 ,  2.01559147,  2.99917707,
        2.25196357,  1.82533502,  2.34130366,  1.14854548,  1.30877484,
        2.71057937,  1.47736658,  3.51364937,  3.3422782 ,  2.91204215,
        0.96342621,  1.24910212,  1.69838888,  3.4913359 ,  2.43446013,
        2.94441982,  3.93132996,  1.61593786,  0.86314336, -0.5188373 ,
        2.7430573 ,  2.21959324,  1.52372057,  2.512701  ,  3.26195039,
        2.63140847,  2.31768131,  3.22250927,  2.21594068,  2.78310432,
        2.04409478,  2.55213155,  3.07478305,  1.96804126,  2.36490337,
        2.88595108,  2.65307558,  2.22580046,  2.15916612,  2.50846995,
        1.87593848,  1.92283242,  3.07052477,  2.29428393,  1.84930152,
        2.7885845 ,  1.93467768,  3.20542215,  2.90812343,  2.46711938,
        2.72893753,  2.46979326,  2.78217789,  2.98884463,  2.85061843,
        2.43882586,  1.5838378 ,  1.14626035,  3.12977627,  1.46726123,
        3.21960549,  1.70111124,  1.6345149 ,  0.95866003,  2.70490802,
        0.99247987,  2.75942621,  2.03366916,  3.35321593,  2.26874359,
        3.48866285,  4.19255947,  1.01719329,  3.19738452,  0.68658823,
        0.98185938,  3.30098304,  2.99830054,  3.32526683,  3.6237355 ,
        1.97726433,  1.11100674,  3.40189721,  3.31968622,  2.7939839 ,
        4.12268705,  3.4917171 ,  1.15220623,  2.14367839,  3.18658642,
        2.88089597,  3.28409522,  1.6718393 ,  0.74672489,  0.81256582,
        2.19692064,  2.6369031 ,  2.62792303,  1.71415663, -0.5188373 ,
        1.14932591,  1.24376502,  1.63808277,  3.08786382,  3.11231052,
        2.64167283,  1.67505738,  2.92070945,  2.31035248,  3.14471467,
        2.56223984,  2.37439432,  1.57383991,  1.79490951,  0.9797643 ,
        3.58507116,  3.02922914,  0.95518555,  2.53152923,  2.16088232,
        2.06595607,  1.39429664,  3.7028804 ,  3.40016879,  2.68408994,
        3.88595667,  2.37126076,  2.30108183,  1.02512403,  1.43026342,
        2.62697223,  2.13776635,  3.12188231,  2.97293413,  2.6542324 ,
        2.62689011,  2.49256783,  3.07778587,  2.86068002,  3.12493612,
        1.61334377,  2.62351442,  2.78108412,  3.3995547 ,  0.83612265,
        1.30464296,  2.58813376,  2.12043507,  1.51103162,  1.84135452,
        2.83489509,  1.16621001,  3.41256158,  1.1123416 ,  2.51199568,
        1.2674006 ,  3.40638795,  3.14155818,  2.76214883,  2.79464101,
        2.2138933 ,  2.05744692,  2.34327307,  2.30254809,  3.16561687,
        2.91882814,  4.09649719,  2.62694418,  2.87416554,  1.94326535,
        0.80935747,  1.51877778,  1.12302864,  2.10148706,  2.04852171,
       -0.5188373 ,  1.92329154,  2.39165264,  0.89872604,  0.88174646,
        0.87341535,  2.69096686,  2.67119446,  2.60489484,  3.18152667,
        2.49622919,  2.67774334,  2.06660029,  2.92216754,  1.11444834,
        3.32493099,  1.49412449,  1.22665606,  2.03774935,  0.98084132,
        1.32660531,  2.91655284,  2.27444866,  3.40049821,  1.92805689,
        3.44731244,  2.22137628,  2.29077837,  2.72774629,  1.66238282,
        1.33685727,  2.49373245,  2.81481803,  1.26035305,  1.36792484,
        3.08093018,  3.231503  ,  1.33708796,  3.25092806,  1.68450913,
        1.74805669,  2.60845958,  2.72084583,  2.9571295 ,  3.33420518,
        2.35494761,  2.76503934,  1.3516515 ,  0.99158041,  3.46606237,
        1.60182755,  2.28377861,  1.67253309,  3.19250083,  3.04041277,
        2.97247949,  1.66445162,  3.41958138,  2.45677863,  3.1391185 ,
        1.45820945,  1.51470386,  2.22316565,  3.73614594,  3.21311171,
       -0.5188373 ,  1.44078267,  0.99564179,  1.3449293 ,  2.77335627,
        2.20731578,  2.67146395,  1.46235221,  1.45356207,  3.243553  ,
        2.15050431,  1.43098553,  1.56842784,  1.45206404,  2.46835369])

In [273]:
df_copy=df_copy.dropna(axis=0)
df_copy

      sepal_length  sepal_width  petal_length  petal_width          species
0             6.40         2.70          5.30         1.90   Iris-virginica
1             7.38         4.04          5.15         2.37  Iris-versicolor
2             5.00         3.40          1.60         0.40      Iris-setosa
3             6.12         3.19          5.90         2.01   Iris-virginica
4             6.78         3.47          6.13         2.29   Iris-virginica
...            ...          ...           ...          ...              ...
2418          7.03         3.41          5.63         3.06  Iris-versicolor
2419          6.11         5.08          3.15         2.22      Iris-setosa
2420          7.17         6.07          4.30         1.78      Iris-setosa
2421          6.48         4.98          4.12         3.03      Iris-setosa
2422          6.73         4.71          3.67         2.90      Iris-setosa

[2359 rows x 5 columns]

In [274]:
X1 = df_copy.drop(labels = ['petal_width', 'species'], axis=1)
Y1 = df_copy['petal_width']

In [275]:
from sklearn.model_selection import train_test_split
X1_train, X1_test, Y1_train, Y1_test = train_test_split(X1, Y1, test_size=0.33, random_state = 101)

In [276]:
from sklearn.linear_model import LinearRegression

linear_regression = LinearRegression()

In [277]:
linear_regression.fit(X1_train, Y1_train)

LinearRegression()

In [278]:
linear_regression.predict(X1_test)
pred1 = linear_regression.predict(X1_test)

In [279]:
pred1

array([2.52303036, 2.99470105, 3.59264792, 2.07654241, 1.25315079,
       2.17242831, 1.84150013, 2.05803011, 1.60597237, 3.32166375,
       0.47634374, 0.68233785, 2.61540749, 1.22812878, 2.19383044,
       2.19785921, 3.29636163, 3.93107316, 1.45205609, 0.73541705,
       3.06436538, 2.00609992, 1.81214986, 1.81109441, 3.79149437,
       3.87150532, 3.27416987, 1.24793225, 0.99761581, 3.76428162,
       2.23415346, 2.38754536, 2.29300975, 2.96107519, 2.20049896,
       2.9445972 , 1.40653237, 2.32814299, 2.7811189 , 2.6264959 ,
       2.8119539 , 0.92393571, 3.05572973, 2.06606169, 1.96159044,
       2.25140441, 3.1989978 , 1.55743537, 2.04201448, 1.20024863,
       2.51138455, 1.33073403, 4.00321969, 2.70342307, 2.71446435,
       4.01875845, 2.6845585 , 1.8680813 , 0.68557667, 2.964757  ,
       2.32246378, 2.35966282, 1.9266193 , 3.69263472, 2.07927221,
       2.20139742, 2.4036081 , 0.5945812 , 3.17985232, 1.5691061 ,
       1.73563362, 3.52863447, 0.89911123, 2.32966114, 1.96826112,
       0.72432547, 3.42637967, 2.39061802, 2.46693185, 1.5531845 ,
       1.09804673, 1.71470324, 0.56376703, 2.55495511, 0.80134587,
       0.84201052, 1.61784685, 0.93556236, 1.45662205, 2.89164272,
       0.73551695, 1.79529741, 1.78760596, 0.78531066, 3.21919625,
       1.15016155, 1.94248892, 3.25682097, 2.13052131, 3.01518322,
       1.55275916, 1.31744344, 2.65024193, 3.21526433, 1.96392301,
       3.49778997, 1.03329421, 0.84930043, 3.55075939, 3.07551767,
       2.29051421, 2.24374264, 2.76782208, 1.41235941, 3.3973708 ,
       2.8634205 , 3.38158988, 2.20535153, 1.07225664, 0.88530313,
       2.82867146, 2.32526379, 2.47385861, 0.93118586, 3.79686143,
       2.85078358, 2.5764676 , 3.34127728, 1.83301658, 1.2780993 ,
       1.31741536, 1.3138792 , 1.48916946, 3.04242159, 3.44258661,
       1.94281705, 2.07191478, 2.76504801, 2.86602252, 1.43478699,
       2.40518651, 2.38770688, 2.52564518, 2.79660635, 2.79953719,
       2.42776105, 2.7934963 , 3.59643814, 2.46213443, 2.67397017,
       2.55305084, 1.80194871, 0.64899698, 2.49888697, 2.9684334 ,
       1.80990077, 1.60929558, 2.72497271, 3.5612135 , 1.34213303,
       3.05923779, 2.53754414, 1.88130222, 2.48592066, 1.43992625,
       3.62889041, 0.95943413, 2.4581104 , 1.57333808, 2.01630708,
       1.9481841 , 2.56383093, 1.8117754 , 1.61799037, 1.97786579,
       2.85073692, 1.53917363, 2.93358209, 1.22075958, 4.15247033,
       2.31370544, 3.36466809, 1.47782303, 3.78094424, 2.55658349,
       2.76099692, 1.15632048, 1.97622996, 0.78904775, 2.09977025,
       2.1669361 , 1.58389367, 2.9675593 , 2.64386192, 2.36657737,
       2.14699954, 1.6182903 , 2.31785678, 3.17659038, 1.79043022,
       1.8580531 , 1.34754548, 1.66287102, 2.81720848, 2.99922899,
       1.31177693, 2.61110031, 1.03625009, 1.77898647, 2.74371437,
       2.73813721, 4.06735037, 3.82366086, 1.6970981 , 1.36738962,
       1.08074946, 0.89900613, 2.21725208, 1.41684285, 1.86008934,
       1.14133458, 1.80695283, 3.03125978, 1.79301378, 3.56996684,
       0.74383387, 2.99472585, 2.58697562, 2.30705233, 2.84294295,
       3.23643155, 1.09331298, 2.08638348, 1.23464154, 1.70102969,
       1.85879094, 0.92793638, 2.97679585, 2.43709122, 1.5199458 ,
       2.44648942, 2.49650163, 3.95492251, 0.74840951, 2.24093639,
       3.23804927, 2.96789944, 2.58324157, 3.1292767 , 2.57041335,
       2.68025188, 0.89717977, 3.08591749, 3.68123824, 2.71008592,
       2.62534598, 1.60025634, 0.67629832, 1.67934584, 2.99383056,
       1.62001019, 1.9020379 , 1.36009143, 0.59606842, 2.91504407,
       1.65760897, 2.76563599, 1.17877105, 1.22709055, 2.50220848,
       3.05470021, 0.82319284, 2.44323836, 1.98816823, 2.07168113,
       2.5343615 , 2.60349936, 3.17686234, 1.62006536, 0.67697759,
       1.8725294 , 2.84434297, 2.45434092, 0.93522098, 1.90876837,
       2.65664358, 1.78287921, 2.34389357, 2.53764122, 0.88466224,
       2.18670965, 2.43985444, 3.12095085, 2.76148954, 1.81723849,
       2.15433   , 3.14383546, 0.80489064, 2.94159228, 3.51675003,
       1.20120021, 2.30616352, 1.8717253 , 1.44011587, 2.39507709,
       2.19410989, 1.95673516, 0.81320372, 1.66097863, 3.32628062,
       3.17020709, 1.90962016, 1.047703  , 2.47021157, 1.94857363,
       3.2547113 , 2.57980701, 2.54768152, 3.12406077, 2.80106814,
       1.11374055, 1.37639421, 0.96930069, 1.5329924 , 2.55596339,
       3.83720462, 2.41144238, 3.45985431, 2.21100164, 3.17700937,
       3.48092391, 2.31870911, 1.13840238, 1.93050908, 1.5900588 ,
       0.72203052, 2.67622719, 1.4146402 , 1.06476408, 2.11227637,
       3.55804285, 2.93504949, 2.87622322, 2.83592025, 1.40345053,
       1.44965983, 1.72592971, 2.56028842, 2.05221712, 1.36313714,
       2.15675299, 2.37901684, 1.91552761, 2.86108011, 2.84920869,
       1.19749573, 1.92921827, 1.54203334, 1.35910195, 1.45052884,
       2.15034835, 1.20472933, 0.8980729 , 1.83451423, 2.44732275,
       2.31946747, 2.48859441, 2.12095458, 2.8691184 , 1.7177947 ,
       2.78430313, 3.0066598 , 0.79445502, 2.41413988, 2.77417842,
       1.27275106, 2.06106699, 0.47784909, 2.27572415, 1.45015607,
       2.16163961, 2.05448624, 3.50544549, 2.5604846 , 1.88572189,
       3.19517065, 1.26140508, 2.39297968, 3.1528345 , 1.5773341 ,
       1.26062747, 2.09157396, 2.99834005, 4.31367645, 1.41736127,
       1.50783436, 1.01006331, 1.39615067, 2.81816685, 0.72368857,
       2.51696941, 3.11823464, 4.06684213, 1.95447735, 1.58160118,
       2.55663764, 2.31593891, 1.26287712, 0.67415264, 2.82002106,
       3.23838748, 1.83041785, 2.07973797, 0.93219271, 1.27118658,
       2.56788835, 2.82153922, 3.48035009, 1.58458879, 3.51408603,
       1.09169573, 1.54275759, 1.59252151, 2.79020685, 2.55772932,
       1.34440464, 2.98504006, 2.55769376, 3.76718892, 1.28835879,
       1.82906314, 3.43429348, 3.09717117, 2.22715433, 2.56802439,
       3.03842985, 1.50623261, 1.5579289 , 2.29077302, 3.12167644,
       2.70546101, 3.54471455, 0.56410039, 2.8418942 , 1.13616598,
       2.8442886 , 1.52903373, 2.84591118, 2.68216738, 0.80963426,
       2.86430309, 2.88415457, 2.03002616, 3.30704543, 3.20930794,
       2.98862311, 2.47575905, 2.05030265, 1.68007461, 1.91081652,
       2.96852301, 1.28549399, 1.47841363, 2.76265814, 2.52762741,
       2.1504095 , 0.95371109, 0.21727043, 3.11915552, 1.36985061,
       2.25890874, 1.35805011, 2.69382494, 2.23840969, 1.05984796,
       2.23355474, 3.72808535, 1.94928361, 2.20452219, 2.87390097,
       1.64599308, 2.47393722, 1.80096134, 2.55768253, 1.77964594,
       1.35852764, 1.43701829, 1.67633514, 2.58478102, 3.08094656,
       2.73230554, 2.63913926, 1.34340537, 2.33646479, 2.85725874,
       2.52019467, 1.44877305, 1.30279135, 3.28493489, 3.46655262,
       2.83419526, 4.62516033, 3.24788172, 2.41872493, 2.37259131,
       3.96764935, 1.91122575, 2.08596371, 1.8580573 , 3.55173499,
       3.05028487, 2.47692641, 3.5338638 , 1.09842075, 2.62793782,
       2.07095619, 1.46553976, 1.42650189, 2.06203917, 2.25322647,
       0.75078013, 0.53292308, 2.29360692, 1.12224709, 0.65339387,
       1.94465168, 1.95269992, 3.2224652 , 3.71029683, 2.01097095,
       4.43230447, 2.43123667, 1.97845446, 1.63859749, 3.28134436,
       2.32658237, 1.01296222, 1.52131001, 2.63876944, 2.08547054,
       0.94130501, 1.39269797, 2.36720329, 1.86375872, 3.18867341,
       3.10219898, 1.25331991, 1.23901657, 1.64776597, 2.61951328,
       2.59028761, 2.71717512, 2.57644926, 1.86035576, 1.45804903,
       2.16314814, 1.75356848, 1.52751004, 3.04053054, 1.2299284 ,
       3.34599732, 2.55634131, 0.88764735, 3.33158187, 1.85226774,
       3.98183704, 1.53698651, 1.54823156, 1.26013091, 2.99213174,
       1.24286186, 2.28446856, 1.9699699 , 3.17244642, 3.00008212,
       1.01562836, 2.39613151, 1.49099605, 2.30512369, 1.32366579,
       1.61012144, 0.58854167, 2.20036995, 2.84601642, 2.49630351,
       1.40224717, 2.14005363, 1.87480532, 3.36583   , 0.63241999,
       1.79142031, 1.68078062, 2.57232986, 1.96033906, 2.56721473,
       2.11797491, 3.0033947 , 3.57358489, 3.26467892, 1.59430085,
       3.41454801, 1.4763016 , 3.21181175, 3.45461459, 1.7151484 ,
       2.12391951, 1.02925264, 1.69703852, 2.27468457, 2.31491392,
       2.89296444, 1.18896632, 0.69891483, 0.90806735, 2.21125707,
       2.82366099, 3.32417404, 0.87686026, 3.14014016, 2.60806174,
       1.652153  , 1.45217758, 1.18166406, 2.67654413, 1.12461443,
       2.57985981, 1.27397006, 3.18701366, 2.78706623, 3.66990596,
       3.34648076, 2.46384231, 2.47719619, 1.42803443, 3.36801442,
       2.46516891, 1.59955961, 2.47464108, 2.00745948, 1.60907651,
       1.83079118, 2.27773503, 0.88865409, 1.40549697, 3.27315475,
       1.32712242, 2.80789784, 2.79225464, 2.74977521, 0.92715461,
       1.46240684, 0.81969507, 1.10188385, 4.30405432, 2.81697582,
       1.06262454, 2.24144407, 0.83446281, 2.26995773, 0.88264232,
       2.05134133, 1.4244414 , 1.31895367, 1.67900263, 2.61831512,
       1.92158844, 2.70378326, 2.9651905 , 2.68993812, 2.47409228,
       1.73162015, 1.29120277, 3.97050409, 1.04389781, 2.26457663,
       1.58024628, 3.67917106, 2.73676688, 1.59258085, 1.60063669,
       2.7184597 , 2.8921609 , 1.19560583, 1.35360892, 1.6460231 ,
       3.60896019, 2.81599785, 2.43894409, 1.27958733, 1.39897197,
       2.93160826, 0.89696853, 1.7936197 , 2.10168749, 2.16380974,
       3.57112479, 1.39639952, 2.20630242, 0.66122668, 1.9587534 ,
       1.07688619, 1.54187534, 1.43548653, 0.88496286, 0.95663343,
       2.92777431, 2.51311249, 2.4463885 , 3.52157348, 1.60420174,
       2.75258463, 0.86411438, 2.13430055, 2.21243325, 2.16625342,
       1.78833802, 1.21530645, 1.15303113, 1.430024  , 2.79241742,
       1.10985293, 2.55422998, 1.66915056, 3.20616324, 3.3732051 ,
       1.53170204, 2.24604982, 3.33964291, 1.79162385, 2.52472146,
       1.63494001, 2.24284045, 1.31202567, 1.1643293 , 2.80677954,
       1.04310912, 1.78160289, 3.15512809, 2.00025453, 2.11706151,
       2.22304832, 1.60613605, 2.50757236, 3.06173323, 0.71566059,
       1.64076308, 2.01685496, 1.37268089, 1.54453139, 1.98745067,
       1.08239743, 3.33804569, 2.73247805, 3.55575832, 2.4764099 ,
       0.90871412, 1.78870048, 3.3756062 , 2.49114002, 0.85817056,
       2.72188814, 2.61914084, 2.92197265, 1.11379153, 2.67013329,
       1.49018119, 2.65553217, 3.5867186 , 3.33244565, 1.33094608,
       2.89863948, 2.18353777, 2.94310795, 3.15739655, 2.88065398,
       3.59986091, 1.2378251 , 1.7354081 , 1.89896909])